/* --------- content --------- */

.rouble {
		font-family: $rouble_font;
	}

.article {
	.container {
		@include clearfix;
	}
} 

.main_content{
	background-color: $color_light;
	width: 100%;
	height: auto;

	.container{
		padding-top: 15px;
	}

}

.main_head_text{
	font-size: 20px;
	color: $color_dark;
	font-family: $font_very_bold;
	margin-left: -2px;
	margin-bottom: 20px;
}
.right_content{
	width: 743px;
	display: block;
	float: right;
}
.content {
	float: left;
	@include clearfix;
}
.main_information{
	background-color: $color_light;
	display: block;
	clear: both;
}

.info_container{
	margin-bottom: 30px;
}

.text_info{
	font-size: 14px;
	text-indent: 30px;	
	text-align: justify;
}
/*******      view 1       ********/
.products_list1{
	margin-left: -15px;
	margin-bottom: 30px;
}
.products{
	margin-bottom: 15px;
	position: relative;
	padding: 8px;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.6);
	@include border-radius(6px);
	border: 1px solid rgb(222, 225, 228);
	width: 235px;	
	@include box-sizing;
	margin-left: 15px;
	cursor: pointer;
	&__slideshow{
		margin-left: 40px;
		margin-top: 11px;
		width: 138px;
	}
	&__feature{
		margin-bottom: 10px;
	}
	&:hover{
		@include box-shadow(0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75));
		z-index: 3;
	}
}
.products__articul{
	display: none;
}
.products__info{
	display: none;
}

.products__title{
	font-size: 14px;
	padding-bottom: 15px;
	font-family: $font_bold;
	color: #000;
	line-height: 1.429;
	text-align: center;
	margin-bottom: 1px;
}

.features{
	&__item{
		@include clearfix;
		color: $color_dark;
		padding: 1px 4px 0px 3px;
		background-color: #e6e6e6;
		&:nth-child(2n){
			background-color: #fff;
		}
	}
	&_name{
		display: block;
		float: left;
	}
	&_value{
		display: block;
		float: right;
	}
}
.slideshow{
	@include border-radius(2px);
	border: 1px solid rgb(222, 225, 228);
	position: relative;	
	height: 134px;
	width: 134px;	
	margin-bottom: 15px;
	background-color: #fff;
}
.big-photo{
	margin-top: 6px;
	height: 125px;
	width: auto;
	@include gorizontal-center;
}
.mini__list{
	position: relative;
	display: block;
	margin-left: -15px;
	margin-bottom: 10px;
	cursor: pointer;	

}
.mini__item{
	background-color: #fff;
	position: relative;
	display: inline-block;
	border: 1px solid rgb(222, 225, 228);
	@include border-radius(2px);
	margin-left: 15px;
	@include box-sizing;
	width: 33px;
	height: 33px;
	padding-top: 1px;
	&:hover{
	  border-color: $color_dark;
	}
}
.slideshow_pic{
	display: block;
	height: 100%;
}
.mini__item-active{
	border-color: $color_orange;

	&:hover{
		border-color: $color_orange;
	}
}
.mini__img{
	height: 28px;
	@include gorizontal-center;
}
.reiting__stars{
	display: inline-block;
}
.stars{

	margin-right: 9px;
}
.star_full{
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 15px;
	background-image: url(/images/star1.png);
}
.star_empty{
	display: inline-block;
	width: 16px;
	height: 15px;
	background-image: url(/images/star2.png);
}
.reiting__value{
	display: inline-block;
	vertical-align: top;
	@include border-radius(7px);
	background-color: rgb(181, 190, 202);
	color: #fff;
	font-family: $font_bold;
	font-size: 12px;
	padding: 0 10px;
}
.products__reiting{
	margin-left: 40px;
	margin-bottom: 1px;	
}
.products__price{
	text-align: center;
	font-size: 20px;
	font-family: $font_bold;
	color: $color_dark;
	margin-bottom: 4px;		
}
.products_nallichie{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: 12px;
	font-family: $font_very_bold;
	color: rgb(127, 127, 127);
	margin: -13px 12px 0 26px;
	&:before{
		content: "";
		@include border-radius(50%);
		background-color: rgb(96, 172, 73);
		position: absolute;
		top: 5px;
		left: -15px;
		width: 7px;
		height: 7px;
	}
}
.products__buy{
	display: inline-block;
	vertical-align: middle;
	@include border-radius(5px);
	background-color: $color_orange;
	color: #fff;
	font-family: $font_bold;
	font-size: 14px;
	padding: 6px 15px;
	border: none;
	margin-bottom: 12px;
	cursor: pointer;
	&:hover{
		background-color: darken($color_orange, 15);
	}
}
/*******      view 2       ********/
.products_list0{
	margin-bottom: 30px;
	.products{
		margin-bottom: 0;
		position: relative;
		padding: 20px 20px 9px 20px;
		display: block;
		width: 740px;
		margin-left: 0;
		@include clearfix;
		border-bottom: none;	
		@include border-radius(0);
		&:first-child{
			@include border-radius(6px 6px 0 0);
		}
		&:last-child{
			border-bottom:  1px solid rgb(222, 225, 228);
			@include border-radius(0 0 6px 6px);
		}
		&__slideshow{
			display: block;
			float: left;
			margin: 0 24px 0 0 ;
			width: 138px;
		}
		&__feature{
			display: none;
		}

	}
	.mini__list{
		margin-bottom: 3px;
	}
	.products__articul{
		display: block;
		text-align: center;
		.art{
			font-size: 12px;
			color: #7f7f7f;
			font-family: $font_very_bold;
			margin-right: 4px;
			display: inline-block;
		}
		.art_number{
			font-size: 14px;
			color: $color_dark;
			font-family: $font_bold;			
			display: inline-block;
		}
	}
	.products_center_content{
		width: 382px;
		display: inline-block;
		margin-right: 20px;
		vertical-align: top;
	}
	.products__info{
		display: block;
		margin-bottom: 14px;
		line-height: 1.43;
	}
	.products__title{
		text-align: left;
		margin-bottom: 16px;
		font-size: 16px;
    	padding: 4px 0;
	}

	.products__reiting{
		display: block;
		margin-left: 0;	
	}

	.products_right_content{
		display: block;
		position: absolute;
		top: 15px;
		bottom: 15px;
		right: 25px;
		width: 153px;
		border-left: 1px solid rgb(222, 225, 228);
	}
	.products__price{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		padding: 0;
		margin: 0 0 125px 22px;		
	}

	.products_nallichie{
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 0;
	}
	.products__buy{
		display: block;
		position: absolute;
		bottom: 20px;
		right: 0;
	}
}
/*******      view 3       ********/
.products_list2{
	margin-bottom: 30px;
	.products{
		position: relative;
		margin-bottom: 0;
		padding: 7px 11px 9px;
		display: block;
		width: 740px;
		margin-left: 0;
		border-bottom: none;	
		@include border-radius(0);
		&:first-child{
			@include border-radius(6px 6px 0 0);
		}
		&:last-child{
			border-bottom:  1px solid rgb(222, 225, 228);
			@include border-radius(0 0 6px 6px);
		}
		&__slideshow{
			display: inline-block;
			margin: 0;
			width: 110px;
		}
		&__feature{
			display: none;
		}
	}
	.slideshow{
		display: none;
	}
	.products_center_content{
		display: inline-block;
		vertical-align: middle;
		width: 290px;
		margin-right: 5px;
		
	}
	.products_right_content{
		display: block;
		float: right;
		margin-top: 2px;
	}
	.mini__item{
		display: none;
	}
	.products__articul{
		text-align: left;
		display: block;
		.art{
			font-size: 12px;
			color: #7f7f7f;
			font-family: $font_very_bold;
			margin-right: 4px;
			display: inline-block;
		}
		.art_number{
			font-size: 14px;
			color: $color_dark;
			font-family: $font_bold;			
			display: inline-block;
		}
	}
	.products__info{
		display: none;
	}
	.products__title{
		display: inline-block;
		text-align: left;
		font-size: 14px;
    	padding: 0;
    	width: 280px;
		overflow: hidden;
		white-space: nowrap;
		font-family: $body_font;
		text-overflow: ellipsis;
		&:before{
			content: "Smartphone ";
		}
	}

	.products__reiting{
		display: none;
	}

	.products__price{
		display: inline-block;
		font-size: 18px;	
	}
	.products_nallichie{
		margin: 0px 16px 0 37px;
	}
	.products__buy{
		padding: 7px 15px;
	    margin-bottom: 5px;
	}
}


.path_products{
	display: block;
	float: right;
	padding-bottom: 5px;

}

.path__list{
	display: block;
}
.path__item {
	display: inline-block;
	margin-left: 1px;
}
.path__link{
	border: 1px solid #dee1e4;
	@include border-radius(3px);
	background-color: #fbfbfb;
	color: #7f7f7f;
	font-family: $font_bold;
	padding: 4px 8px;
	text-decoration: none;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	&-active{
		background-color: #e0e0e0;
		border: 1px solid #c8c8c8;
	}
	&:hover{
	@include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.12),inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004));
	border: 1px solid #c8c8c8;	
	}
}
