.sort__item-1
	.sort__list-title Сортировать по
	.sort__list-select
		select.js-example-basic-single
			option(value='price') по цене
			option(value='popular') по популярности
.sort__item-2
	.sort__view-title Вид каталога
	ul.sort__view-list
		li.sort__view-item
			a(href="#" class="sort__view")
				.sort__view-view0
		li.sort__view-item
			a(href="#" class="sort__view")
				.sort__view-view1.sort__view1-hover
		li.sort__view-item
			a(href="#" class="sort__view")
				.sort__view-view2
